<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Family Mart
    link(rel="stylesheet", href="./css/all.css")
  body()
    .container.mainImage
      .row.justify-content-center
        .bgSetting
          img(src="./img/kv.png" alt="").img-fluid
    .container.awardBlock
      .row
        .col-12.d-flex.justify-content-center
          .showPresentBox.d-flex.flex-column.justify-content-center.align-items-center.w-100
            h3.font-weight-bold.title 頭獎
            input(type="text" disabled placeholder="掃完自動帶入值").form-control.rounded-0.w-100.text-center.mb-3
            button.btn.btnCustomize.w-50.font-weight-bold.mb-5.d-flex.justify-content-center.align-items-center
              img(src="./img/hand.png")
              p.mb-0.ml-2 登錄抽獎
            h3.font-weight-bold.title 加值獎
            .bgSetting.mb-2
              img(src="./img/productA_8.jpg")
            p.font-weight-bold.mb-1 iPhone11 64GB(6名)(獎項名稱)
            p.font-weight-bold.mb-1 顏色隨機(描述)
            P.mb-1.font-weight-bold 市價：<span class="text-success">24,900</span>
    .container.cooperate
      .row.justify-content-center
        .bgSetting.px-3
          img(src="./img/cooperate.png").my-4.img-fluid
    .container.noticeItemTitle
      //- 注意事項
      .row.justify-content-center
        .bgSetting.px-3
          img(src="./img/titleE.png").my-4.img-fluid
    .container.noticeItem
      //- 注意事項
      .row.justify-content-center
        .bgSetting.px-3.w-50
          img(src="./img/noticeTitle.png").mb-4.img-fluid
      p 「威力好康卡」活動說明 (以下簡稱本卡)
      input(type="checkbox" id="noticeOne" checked).d-none     
      //- div.noticeOneDiv
      //-   label(for="noticeOne").title-S.d-flex.align-items-center.mb-4
      //-     p.mb-0.ml-2.mr-auto 壹、活動辦法及注意事項：
      //-     img(src="./img/add.svg" style="width: 24px; height: 24px;").ml-3.addSvg
      //-     img(src="./img/minus.svg" style="width: 24px; height: 24px;").ml-3.minusSvg
      ol.noticeOneContent
        li 販售期間：自2020年9月9日起至2020年10月6日止。
        li 本卡限量發行108萬張，每張售價100元，數量有限，售完為止。
        li 購買限制：
          ul
            li 本活動限設籍於臺灣、澎湖、金門、馬祖地區消費者參與。
            li 於全家所屬店舖販售，本卡不適用非開立全家便利商店發票之特殊店舖。
            li 持本卡人應在2020/10/31前完成兌換，如持本卡人逾兌換期限未具領兌換者，視為放棄兌換權利，不得請求補發或折換現金。
            li 本卡所兌換之商品、贈獎或折抵消費之金額不予開立統一發票。
        li 「加碼送」專區商品如有瑕疵，應至原兌換店舖辦理退換貨。
        li 中獎者若未滿20歲須獲得法定代理人同意並代為領取。依中華民國所得稅法規定，凡中獎價值超過新台幣$1,000元者，獎項將須列入個人年度綜合所得稅申報(稅額以獎品市價計算)。中獎價值超過新台幣$20,000元者，須繳納10%稅金(非中華民國境內居住之個人，依法扣繳20%稅金。又稅額以獎品市價計算)，全家便利商店依法代收中獎稅金，若中獎人未能如期依法繳納應繳稅額，即視為放棄得獎資格。
        li 本卡為不記名票券，任何人持本卡皆可使用，請自行妥善保管，如遭他人盜用，本卡不補發，主辦單位亦不負責。
        li 本卡正本請妥善保存以利後續中獎兌換，若有破損、影印、無法辨識或其它情形，致無法辨認真偽者，視同無效。如有仿冒、變造或以違法途徑取得本卡者，除不得兌獎外，主辦單位將保留法律追訴權。
        li 獎項詳細內容與規格以實物為準，主辦單位不負贈品之任何維護或保固責任。本活動之相關規定及詳細辦法請見活動網頁 : <a href="https://nevent.family.com.tw/0909_weiligoodcard/">連結</a>  ，如有未盡事宜，全家便利商店擁有保留、修改、暫停及解釋活動內容之權利，修改訊息將於活動網頁公佈，恕不另行通知。本活動主辦單位為：全家便利商店股份有限公司；負責人：葉榮廷；公司地址：臺北市中山區中山北路2段61號7樓；本卡使用與兌換如有疑問請洽詢現場服務人員或服務電話：0800-221-363。
      input(type="checkbox" id="noticeSecond" checked).d-none
      //- div.mt-3
      //-   label.title-S.d-flex.align-items-center.mb-4(for="noticeSecond")
      //-     p.mb-0.ml-2.mr-auto 貳、活動獎項及兌獎說明：
      //-     img(src="./img/add.svg" style="width: 24px; height: 24px;").ml-3.addSvg
      //-     img(src="./img/minus.svg" style="width: 24px; height: 24px;").ml-3.minusSvg
      //- p.secondPartTitle.noticeSecondContent 威力好康卡-「威力百元組」專區注意事項
      .row.justify-content-center
        .bgSetting.px-3.w-50
          img(src="./img/noticeTitle1.png").mb-4.img-fluid
      ol.noticeSecondContent
        li 當本區其中一段條碼無法判讀時，請補開通/列印兌換券：至全家便利商店店舖FamiPort機台，點選紅利→紅利PIN碼→PIN碼補開通→輸入14碼PIN碼開通→確認開通→輸入已開通14碼PIN碼→確認欲兌換的商品→列印兌換券。(PIN碼為條碼左下方14位英數混合值)
        li 每筆PIN碼限補開通列印乙次，熱感應紙請於有效日期前兌換完畢，並請妥善保管避免損毀、遺失或因保存不當造成無法辨識致無法兌換情形。
        li 使用時須符合本卡載明之品牌與規格。商品兌換後，無法提供退貨及換貨。
        li 本卡無法兌換現金或找零，請一次抵用完畢，不可重複使用。