extend ./partial/layout.jade
block content
  include ./partial/topimg.jade
  .container.awardBlock
    .row
      .col-12.d-flex.justify-content-center
        .showPresentBox.d-flex.flex-column.justify-content-center.align-items-center.w-100
          h3.font-weight-bold.title.text-center.text-light.mb-3 110/01/29 前公布中獎名單
          input(type="text" placeholder="手機掃描卡面登錄抽獎序號" disabled).form-control.rounded-0.w-100.text-center.mb-3
          button.btn.btnCustomize.w-75.font-weight-bold.d-flex.justify-content-center.align-items-center
            img(src="./img/hand.png")
            p.mb-0.ml-2 登錄抽獎
  .container
    .row.justify-content-center
      h3.font-weight-bold.title 登錄紀錄
      .table-responsive.my-3
        table.table
          thead
            tr()
              th(scope='col').border-top-0.bg-danger 排序
              th(scope='col').border-top-0.bg-danger 登入時間
              th(scope='col').border-top-0.bg-danger 抽獎號碼
          tbody
            tr
              td(scope='row') 1
              td 2020-08-17
              td 0000000000000000
              
  .container.mb-4
    .row.justify-content-center
      .bgSetting
        img(src="./img/titleB.png").img-fluid.px-3
  .container
    .row.justify-content-center
      .col-md-6.px-1.mt-2         
        img(src="./img/ticket.jpg" ).img-fluid
      .col-md-6.px-1.mt-2
        img(src="./img/girls.jpg").img-fluid
      .col-md-12.mt-3
        .buttonBox.d-flex.justify-content-center
          a(href="./file/樂天時尚球員卡抽獎_中獎回函.doc" download="樂天時尚球員卡抽獎_中獎回函.doc").button.my-2.text-decoration-none.bg-primary 下載樂天時尚球員卡中獎回函
  .container.my-4
    .row.justify-content-center
      .bgSetting
        img(src="./img/titleE.png").img-fluid.px-3
  .container.noticeItem
    .row.justify-content-center
      .bgSetting.px-3.w-100.text-center
        img(src="./img/noticeTitle.png").mb-4.img-fluid.noticeImg
    p 滿200送樂天時尚球員卡活動說明
    ol.noticeOneContent
      li 本活動品項限店內販售飲料、酒類、泡麵、罐頭、零食/糖果、補品、生活日用、鮮食、水果、預購。
      li 本活動品項部包含菸品、待收、EC網購、全家行動購、隨買跨店取(購買&兌換)、代銷代售、運費、遊戲點卡、悠遊卡等。
      li 限單筆交易不累贈，折扣後金額需滿200元。
      li 球員卡數量有限，送完為止。
      li 球員卡共有24款，採隨機贈送不挑款，以現場實物為準，圖片僅供參考。
    p 200點加價購買整套球員卡說明
    ol
      li 下載全家APP加入全家會員，可使用全家點數200點+1000元購買整套球員卡。
      li 整套球員卡預購限量500組，售完為止。
    p 「樂天時尚球員卡抽獎」活動說明
    input(type="checkbox" id="noticeOne" checked).d-none     
    ol.noticeOneContent
      li 活動販售期間：自2020年12月16日起至2020年12月29日止。
      li 活動辦法：於活動期間內消費滿額獲得或是預購整套球員卡，並登入球員卡上抽獎序號及全家會員，即符合抽獎資格，商品數量有限，售完為止。
      li 活動獎項為職棒32年Rakuten假日主場首戰門票5名、與樂天女孩共進晚餐5名(女孩出席名單待確認活動時間後公告，圖片僅供示意)，球票及與樂天女孩共進晚餐中獎者，皆可攜伴一名。
      li 中獎者若未滿20歲須獲得法定代理人同意並代為領取。依中華民國所得稅法規定，凡中獎價值超過新台幣$1,000元者，獎項將須列入個人年度綜合所得稅申報(稅額以獎品市價計算)。中獎價值超過新台幣$20,000元者，須繳納10%稅金(非中華民國境內居住之個人，依法扣繳20%稅金。又稅額以獎品市價計算)，全家便利商店依法代收中獎稅金，若中獎人未能如期依法繳納應繳稅額，即視為放棄得獎資格。
      li 後續中獎回函需回拍整張球員卡(含序號)，經比對核實後，才確實符合中獎資格，若提供資料不符或無法辨識，視同無效。如有仿冒、變造或以違法途徑取得中獎者，除不得兌獎外，主辦單位將保留法律追訴權。 
      li 獎項詳細內容與規格以實物為準，主辦單位不負贈品之任何維護或保固責任 ，如有未盡事宜，全家便利商店擁有保留、修改、暫停及解釋活動內容之權利，修改訊息將於活動網頁公佈，恕不另行通知。本活動主辦單位為：全家便利商店股份有限公司；負責人：葉榮廷；公司地址：臺北市中山區中山北路2段61號7樓；商品預購如有疑問請洽詢現場服務人員或服務電話：0800-221-363。        
      li 活動抽獎時間:
  .container.px-0.mt-3
    .table-responsive
      table.table
        thead
          tr
            th(scope='col').border-top-0.bg-danger.border.border-dark 活動時間
            th(scope='col').border-top-0.bg-danger.border.border-dark 抽獎最後登錄時間
            th(scope='col').border-top-0.bg-danger.border.border-dark 抽獎公告時間
            th(scope='col').border-top-0.bg-danger.border.border-dark 中獎回函時限
            th(scope='col').border-top-0.bg-danger.border.border-dark 贈品寄送時間
        tbody
          tr
            td(scope='row').border.border-dark.text-dark 109/12/16~12/29
            td.border.border-dark 110/01/08
            td.border.border-dark 110/01/29
            td.border.border-dark 110/02/10前
            td.border.border-dark 職棒32年樂天假日主場首戰前
  .container
    .row.justify-content-center
      .bgSetting.my-4.px-3
        img(src="./img/cooperate.png").img-fluid        
    .row.justify-content-center.mb-4
      .cooperateMerchantImg
        img(src="./img/cooperate_merchant.png").img-fluid 